# .env dosyaları (güvenlik için)
/backend/.env
/frontend/.env

# Sistem dosyaları
.DS_Store
Thumbs.db

# Log dosyaları
*.log

# Geçici/önbellek dosyaları
*.tmp
*.swp
*.bak

# IDE/editor dosyaları
.vscode/

# Ortam dosyaları
.env
.env.*

# Derleme / Build çıktıları
dist/
build/
out/
target/
bin/
obj/

# Paket yöneticisi çıktıları
node_modules/

# Dependency dosyaları (lock dosyaları bazen dahil edilir, bazen edilmez)
package-lock.json
docker-compose.override.yml